<div class="container-fluid mt-5">
    <div>
        <img src="img/multiple-phones-1(nt).png" style="width: 100%;"/>
    </div>
    <div>
        <h2 class="text-center">
                <b>How To Do</b>
        </h2>
        <div id="accordion">
            <div class="card">
                <div class="card-header b2">
                    <a class="btn text-light" data-bs-toggle="collapse" href="#collapseOne">
                    General use
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                    Coming soon...
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header b2">
                    <a class="collapsed btn text-light" data-bs-toggle="collapse" href="#collapseTwo">
                    Create a car
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                    Coming soon...
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header b2">
                    <a class="collapsed btn text-light" data-bs-toggle="collapse" href="#collapseThree">
                    Create a reminder
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        Coming soon...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>